In [1]:
import pandas as pd

In [2]:
l = [1,2,39,67,90]

In [3]:
l

[1, 2, 39, 67, 90]

In [4]:
pd.DataFrame(l, columns = ["var_name"])

   var_name
0         1
1         2
2        39
3        67
4        90

In [5]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
pd.DataFrame(m, columns = ["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [7]:
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['var1', 'var2', 'var3'], dtype='object')]

In [10]:
df.shape

(3, 3)

In [11]:
df.ndim

2

In [12]:
df.size

9

In [13]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
type(df.values)

numpy.ndarray

In [15]:
a = np.array([1,2,3,4,5])

In [16]:
pd.DataFrame(a, columns = ["var1"])

   var1
0     1
1     2
2     3
3     4
4     5

In [4]:
import numpy as np
import pandas as pd
s1 = np.random.randint(10, size = 5)
s2 = np.random.randint(10, size = 5)
s3 = np.random.randint(10, size = 5)

In [2]:
dic = {"var1": s1, "var2": s2, "var3": s3}

In [3]:
dic

{'var1': array([9, 1, 8, 7, 2]),
 'var2': array([8, 3, 9, 8, 4]),
 'var3': array([2, 1, 4, 0, 5])}

In [5]:
df = pd.DataFrame(dic)

In [6]:
df

   var1  var2  var3
0     9     8     2
1     1     3     1
2     8     9     4
3     7     8     0
4     2     4     5

In [7]:
df.index = ["a","b","c","d","e"]

In [8]:
df

   var1  var2  var3
a     9     8     2
b     1     3     1
c     8     9     4
d     7     8     0
e     2     4     5

In [9]:
df.drop("a", axis = 0)

   var1  var2  var3
b     1     3     1
c     8     9     4
d     7     8     0
e     2     4     5

In [11]:
df

   var1  var2  var3
b     1     3     1
c     8     9     4
d     7     8     0
e     2     4     5

In [12]:
df.drop("a", axis = 0, inplace = True)

KeyError: "['a'] not found in axis"

In [13]:
l = ["c","e"]

In [14]:
df.drop(l, axis = 0)

   var1  var2  var3
b     1     3     1
d     7     8     0

In [15]:
df

   var1  var2  var3
b     1     3     1
c     8     9     4
d     7     8     0
e     2     4     5

In [16]:
"var1" in df

True

In [17]:
l = ["var1","var4","var2"]

In [18]:
for i in l:
    print(i in df)

True
False
True

In [19]:
df["var1"]

b    1
c    8
d    7
e    2
Name: var1, dtype: int32

In [20]:
df["var4"] = df["var1"] / df["var2"]

In [23]:
df["var4"] = df["var1"] / df["var2"]

In [24]:
df

   var1  var2  var3      var4
b     1     3     1  0.333333
c     8     9     4  0.888889
d     7     8     0  0.875000
e     2     4     5  0.500000

In [25]:
df.drop("var4", axis = 1, inplace = True)

In [26]:
df

   var1  var2  var3
b     1     3     1
c     8     9     4
d     7     8     0
e     2     4     5