In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
randn(3,3)

array([[ 0.12737968, -1.08094396,  1.37969623],
       [-0.29521496, -0.32749577,  0.03645648],
       [ 0.2715553 ,  0.21332334, -1.10466767]])

In [4]:
df = pd.DataFrame(randn(3,3),index = ["A","B","C"],columns = ["Column1","Column2","Column3"])

In [5]:
df

    Column1   Column2   Column3
A -0.666306 -0.279776  0.371229
B -0.037529 -0.083332 -0.190735
C -0.875907 -0.111186  1.034115

In [6]:
df["Column1"]

A   -0.666306
B   -0.037529
C   -0.875907
Name: Column1, dtype: float64

In [7]:
df.loc["A"]

Column1   -0.666306
Column2   -0.279776
Column3    0.371229
Name: A, dtype: float64

In [8]:
type(df.loc["A"])

pandas.core.series.Series

In [9]:
df[["Column1","Column2"]]

    Column1   Column2
A -0.666306 -0.279776
B -0.037529 -0.083332
C -0.875907 -0.111186

In [10]:
df["Column4"]

KeyError: 'Column4'

In [11]:
df["Column4"] = pd.Series(randn(3),index = ["A","B","C"])
df

    Column1   Column2   Column3   Column4
A -0.666306 -0.279776  0.371229  0.567588
B -0.037529 -0.083332 -0.190735 -0.438861
C -0.875907 -0.111186  1.034115  0.526830

In [12]:
df["Column5"] = df["Column1"] + df["Column2"] + df["Column3"]
df

    Column1   Column2   Column3   Column4   Column5
A -0.666306 -0.279776  0.371229  0.567588 -0.574853
B -0.037529 -0.083332 -0.190735 -0.438861 -0.311596
C -0.875907 -0.111186  1.034115  0.526830  0.047023

In [13]:
df.drop("Column5")

KeyError: "['Column5'] not found in axis"

In [14]:
df.drop("Column5",axis = 1)

    Column1   Column2   Column3   Column4
A -0.666306 -0.279776  0.371229  0.567588
B -0.037529 -0.083332 -0.190735 -0.438861
C -0.875907 -0.111186  1.034115  0.526830

In [15]:
df

    Column1   Column2   Column3   Column4   Column5
A -0.666306 -0.279776  0.371229  0.567588 -0.574853
B -0.037529 -0.083332 -0.190735 -0.438861 -0.311596
C -0.875907 -0.111186  1.034115  0.526830  0.047023

In [16]:
df.drop("Column5",axis = 1,inplace=True)

In [17]:
df

    Column1   Column2   Column3   Column4
A -0.666306 -0.279776  0.371229  0.567588
B -0.037529 -0.083332 -0.190735 -0.438861
C -0.875907 -0.111186  1.034115  0.526830

In [18]:
df.loc["A"]

Column1   -0.666306
Column2   -0.279776
Column3    0.371229
Column4    0.567588
Name: A, dtype: float64

In [19]:
df.iloc[0]

Column1   -0.666306
Column2   -0.279776
Column3    0.371229
Column4    0.567588
Name: A, dtype: float64

In [20]:
df.loc["A","Column1"]

-0.6663059874397462

In [21]:
df.loc[["A","B"],["Column1","Column2"]]

    Column1   Column2
A -0.666306 -0.279776
B -0.037529 -0.083332