In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [3]:
innerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [4]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [5]:
hierarchy = list(zip(outerIndex,innerIndex))
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [6]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [7]:
df = pd.DataFrame(randn(9,3),hierarchy,columns = ["A","B","C"])

In [8]:
df

                      A         B         C
Group1 Index1 -0.498440  1.031337  0.424209
       Index2  1.598828  0.167544  0.092145
       Index3  2.014152 -0.551020  0.194721
Group2 Index1  0.400359 -0.455376  0.455307
       Index2  1.292808 -0.037261  0.681497
       Index3 -0.647370 -0.343957  0.353966
Group3 Index1 -0.265396  0.834292 -0.232319
       Index2 -1.466864 -0.444720 -0.731989
       Index3 -0.390405  0.573178  0.046316

In [9]:
df["A"]

Group1  Index1   -0.498440
        Index2    1.598828
        Index3    2.014152
Group2  Index1    0.400359
        Index2    1.292808
        Index3   -0.647370
Group3  Index1   -0.265396
        Index2   -1.466864
        Index3   -0.390405
Name: A, dtype: float64

In [10]:
df.loc["Group1"]

               A         B         C
Index1 -0.498440  1.031337  0.424209
Index2  1.598828  0.167544  0.092145
Index3  2.014152 -0.551020  0.194721

In [11]:
df.loc[["Group1","Group2"]]

                      A         B         C
Group1 Index1 -0.498440  1.031337  0.424209
       Index2  1.598828  0.167544  0.092145
       Index3  2.014152 -0.551020  0.194721
Group2 Index1  0.400359 -0.455376  0.455307
       Index2  1.292808 -0.037261  0.681497
       Index3 -0.647370 -0.343957  0.353966

In [12]:
df.loc["Group1"].loc["Index1"]

A   -0.498440
B    1.031337
C    0.424209
Name: Index1, dtype: float64

In [13]:
df.index.names = ["Groups","Indexes"]

In [14]:
df

                       A         B         C
Groups Indexes
Group1 Index1  -0.498440  1.031337  0.424209
       Index2   1.598828  0.167544  0.092145
       Index3   2.014152 -0.551020  0.194721
Group2 Index1   0.400359 -0.455376  0.455307
       Index2   1.292808 -0.037261  0.681497
       Index3  -0.647370 -0.343957  0.353966
Group3 Index1  -0.265396  0.834292 -0.232319
       Index2  -1.466864 -0.444720 -0.731989
       Index3  -0.390405  0.573178  0.046316

In [15]:
df.loc["Group1"].loc["Index1"]["A"]

-0.49843999142336515

In [16]:
df.xs("Group1")

                A         B         C
Indexes
Index1  -0.498440  1.031337  0.424209
Index2   1.598828  0.167544  0.092145
Index3   2.014152 -0.551020  0.194721

In [17]:
df.xs("Group1").xs("Index1")

A   -0.498440
B    1.031337
C    0.424209
Name: Index1, dtype: float64

In [18]:
df.xs("Group1").xs("Index1").xs("A")

-0.49843999142336515

In [19]:
df.xs("Index1",level = "Indexes")

               A         B         C
Groups
Group1 -0.498440  1.031337  0.424209
Group2  0.400359 -0.455376  0.455307
Group3 -0.265396  0.834292 -0.232319